* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    background-color: #372F2F !important;
}

.row {
    width: 100%;
    display: flex;
}

.columntest-side {
    flex: 20%;
}

.columntest-artist {
    position: relative;
    margin-left: -190px;
    margin-right: -20px;
    padding-bottom: 20px;
    flex: 80%;
    background-color: #372F2F;
}


/*Sidebar Codes*/

.Sidebar {
    display: block;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding: 50px;
}

.Sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.Sidebar a:hover {
    color: rgba(255, 115, 21, 1);
}

.Sidebar p {
    text-align: center;
}


/*Trackbar Codes*/

.Trackbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 60px 60px;
    background-color: #232020;
}

.music-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12%;
}

.music-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
}

.music-option p ion-icon {
    color: white;
    font-size: 50px;
    padding: 5px;
}

.music-control p ion-icon {
    color: white;
    font-size: 50px;
}

.music-progressbar {
    width: 100%;
    background-color: grey;
}

.bar {
    width: 75%;
    height: 25px;
    background-color: white;
}

.music-data p {
    color: white;
    font-size: 20px;
}


/*Main Section Codes*/

.Artist-Pic {
    padding: 20px;
    line-height: 20px;
    position: relative;
    margin-bottom: -12%;
    width: 270px;
}


/*
.Artist-Pic img {
clip-path: circle(36.9% at 50% 50%);
}
*/

.Artist-Name h3,
.Playlist-Type p {
    color: white;
}

.columntest-artist {
    padding-bottom: 500px;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40%;
}

.no-gutter [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.ChangePasswordButton {
    background-color: #5C636E;
    margin: 0;
    border-radius: 20px;
    border-color: #5C636E;
    border-style: solid;
    width: 100px;
    height: 45;
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
}

.ChangePass {
    font-family: 'Typo Round Regular Demo';
}

.confirmEdit {
    transition: background-color 0.5s, border-color 0.5s;
}

.confirmEdit:hover {
    background-color: rgb(184, 73, 0);
    border-color: rgb(184, 73, 0);
}

.ChangePasswordButton {
    transition: background-color 0.5s, border-color 0.5s;
}

.ChangePasswordButton:hover {
    background-color: rgba(255, 115, 21, 1);
    border-color: rgba(255, 115, 21, 1);
}