* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    
}
.Trackbar{
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.columntest-side {
    flex: 20%;
}

.columntest-artist {
    margin-left: -220px;
    margin-right: -20px;
    flex: 80%;
    background-color: #372F2F;
    padding-bottom: 150px;
}


/*Sidebar Codes*/

.Sidebar {
    display: block;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding: 50px;
}

.Sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.Sidebar a:hover {
    color: #ffc266;
}

.Sidebar p {
    text-align: center;
}


/*Trackbar Codes*/

.Trackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1920px;
    height: 12%;
    padding: 20px 20px;
    background-color: #232020;
}

.music-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12%;
}

.music-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
}

.music-option p ion-icon {
    color: white;
    font-size: 50px;
    padding: 5px;
}

.music-control p ion-icon {
    color: white;
    font-size: 50px;
}

.music-progressbar {
    width: 100%;
    background-color: grey;
}

.bar {
    width: 75%;
    height: 25px;
    background-color: white;
}

.music-data p {
    color: white;
    font-size: 20px;
}


/*Main Section Codes*/

.Artist-Pic {
    padding: 20px;
    line-height: 20px;
    position: relative;
    margin-bottom: -12%;
}

.Artist-Pic img {
    clip-path: circle(36.9% at 50% 50%);
}

.Artist-Name h3,
.Playlist-Type p,
.Album-Name h3,
.Album-Type p,
.ArtistSuggest-Name h3,
.ArtistSuggest-Type p {
    color: white;
}

.columntest-artist {
    margin-bottom: 140px;
}


/*New Trackbar*/

.duration {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 20px;
    margin-top: 40px;
}

.duration p {
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    
}


input[type="range"] {
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #FF8A65;
    border-radius: 50%;
    cursor: pointer;
}



.volume {
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.volume p {
    font-size: 15px;
}

.volume i {
    cursor: pointer;
    padding: 8px 12px;
    background: #FF8A65;
}

.volume i:hover {
    background: rgba(245, 245, 245, 0.1);
}

.volume #volume_show {
    background: rgba(245, 245, 245, 0.1);
}

#play {
    background: #FF8A65;
}

button:hover {
    background: #FF8A65;
}

i:before {
    color: rgb(61, 50, 50);
    font-size: 20px;
}