* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.row {
    width: 100%;
    display: flex;
}

.columntest-side {
    flex: 20%;
}

.columntest-artist {
    position: inherit;
    margin-left: -190px;
    margin-right: -20px;
    padding-bottom: 20px;
    height: 100%;
    flex: 80%;
    background-color: #372F2F;
}


/*Sidebar Codes*/

.Sidebar {
    display: block;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding: 50px;
}

.Sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.Sidebar a:hover {
    color: #ffc266;
}

.Sidebar p {
    text-align: center;
}


/*Trackbar Codes*/

.Trackbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 60px 60px;
    background-color: #232020;
}

.music-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12%;
}

.music-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
}

.music-option p ion-icon {
    color: white;
    font-size: 50px;
    padding: 5px;
}

.music-control p ion-icon {
    color: white;
    font-size: 50px;
}

.music-progressbar {
    width: 100%;
    background-color: grey;
}

.bar {
    width: 75%;
    height: 25px;
    background-color: white;
}

.music-data p {
    color: white;
    font-size: 20px;
}


/*Main Section Codes*/

.Artist-Pic {
    padding: 20px;
    line-height: 20px;
    position: relative;
    margin-bottom: -12%;
    width: 270px;
}


/*
.Artist-Pic img {
  clip-path: circle(36.9% at 50% 50%);
}
*/

.Artist-Name h3,
.Playlist-Type p {
    color: white;
}

.columntest-artist {
    margin-bottom: 130px;
}

.blank {
    position: relative;
    height: 520px;
    background-color: #372F2F;
    width: 100px;
}