* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.row {
    width: 100%;
    display: flex;
}

.columntest-side {
    flex: 20%;
}

.columntest-artist {
    position: relative;
    margin-left: -190px;
    margin-right: -20px;
    padding-bottom: 20px;
    flex: 80%;
    background-color: #372F2F;
}


/*Sidebar Codes*/

.Sidebar {
    display: block;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding: 50px;
}

.Sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.Sidebar a:hover {
    color: #ffc266;
}

.Sidebar p {
    text-align: center;
}


/*Trackbar Codes*/

.Trackbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 60px 60px;
    background-color: #232020;
}

.music-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 12%;
}

.music-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10%;
}

.music-option p ion-icon {
    color: white;
    font-size: 50px;
    padding: 5px;
}

.music-control p ion-icon {
    color: white;
    font-size: 50px;
}

.music-progressbar {
    width: 100%;
    background-color: grey;
}

.bar {
    width: 75%;
    height: 25px;
    background-color: white;
}

.music-data p {
    color: white;
    font-size: 20px;
}


/*Main Section Codes*/

.Artist-Pic {
    padding: 20px;
    line-height: 20px;
    position: relative;
    margin-bottom: -12%;
}

.Artist-Pic img {
    clip-path: circle(36.9% at 50% 50%);
}

.Artist-Name h3,
.Playlist-Type p,
.Album-Name h3,
.Album-Type p,
.ArtistSuggest-Name h3,
.ArtistSuggest-Type p {
    color: white;
}

.columntest-artist {
    margin-bottom: 140px;
}


/*New Track Bar*/

#myProgress {
    width: 420px;
    background-color: #d9d9f2;
    cursor: pointer;
    border-radius: 10px;
}

#myBar {
    width: 0%;
    height: 5px;
    background-color: #ffc266;
    border-radius: 10px;
}

.logo {
    fill: red;
}

.btn-action {
    cursor: pointer;
    padding-top: 10px;
    width: 30px;
}

.btn-ctn,
.infos-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos-ctn {
    padding-top: 20px;
}

.btn-ctn>div {
    padding: 5px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.infos-ctn>div {
    margin-bottom: 8px;
    color: #ffc266;
}

.first-btn {
    margin-left: 3px;
}

.duration {
    margin-left: 10px;
}

.title {
    margin-left: 10px;
    width: 210px;
    text-align: center;
}

.player-ctn {
    border-radius: 15px;
    width: 420px;
    padding: 10px;
    background-color: #373737;
    margin: auto;
    margin-top: 100px;
}

.playlist-track-ctn {
    display: flex;
    background-color: #464646;
    margin-top: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.playlist-track-ctn:last-child {
    /*border: 1px solid #ffc266; */
}

.playlist-track-ctn>div {
    margin: 10px;
}

.playlist-info-track {
    width: 80%;
}

.playlist-info-track,
.playlist-duration {
    padding-top: 7px;
    padding-bottom: 7px;
    color: #e9cc95;
    font-size: 14px;
    pointer-events: none;
}

.playlist-ctn {
    padding-bottom: 20px;
}

.active-track {
    background: #4d4d4d;
    color: #ffc266 !important;
    font-weight: bold;
}

.active-track>.playlist-info-track,
.active-track>.playlist-duration,
.active-track>.playlist-btn-play {
    color: #ffc266 !important;
}

.playlist-btn-play {
    pointer-events: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fas {
    color: #ffc266;
    font-size: 20px;
}