
body{

    background-color: rgba(44, 38, 38, 1);
    display:flex;
    height:100%;
    width:100%;
    margin:0;

    
}

.headerlistener{
    padding-top: 10px;
    padding-bottom: 20px;
    background: rgba(35, 32, 32, 1);
    height: 50px;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    margin-top: -10px;
    position: fixed;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.headerartist{
    padding-top: 35px;
    padding-bottom: 20px;
    background: rgba(35, 32, 32, 1);
    height: 50px;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    margin-top: -10px;
    position: fixed;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.headerContentListener{
    margin: 0 auto; 
    text-align: center;
    background-color: rgba(35, 32, 32, 1);
    color: rgba(217, 217, 217, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    border-color: rgba(35, 32, 32, 1);
    letter-spacing: 10px;
    font-size: 50px;
    margin-left: 17.5px;

}
.headerContentArtist{
    margin: 0 auto; 
    text-align: center;
    background-color: rgba(35, 32, 32, 1);
    color: rgba(217, 217, 217, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    border-color: rgba(35, 32, 32, 1);
    letter-spacing: 10px;
    font-size: 30px;
    margin-left: 21px;
}
.div_content{
   
    text-align: center;
    margin: auto;
    text-align:center;
    padding-top: 135px;
   
    
    
}
.button_orange{
    background-color: rgba(255, 115, 21, 1);
    margin: 0;
    border-radius: 20px;
    border-color: rgba(255, 115, 21, 1);
    border-style: solid;
    width: 200px;
    height: 45;
    margin: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;

}
.button_dark{
    background-color: rgba(35, 32, 32, 1);
    margin: 0;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    color: rgba(255, 255, 255, 1);
    width: 300px;
    height: 45;
    margin: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;

}
.text_email{

    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 105px;
   
}    
.text_pw{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 135px;
}
.text_conpw{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 75px;
}
.text_username{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 133px;
}
.text_artistname{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 124px;
}
.text_gender{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 150px;
}
.text_genre{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 160px;
}
.radio_gender{
    border-color: rgba(255, 255, 255, 1);

}
.text_wrapper{
    display: inline-block;
    text-align: left;
}
.text_field{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 23px;
    width: 200px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
}
.dob_wrapper{
    margin-bottom: 3%;
}
.text_dateofbirth{
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 115px;
    
}
.text_day{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 0px;
}
.text_month{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 30px;
}
.text_year{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 30px;
}
.label_text{
  
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
   
}
.monthbox{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 32px;
    width: 75px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
}
.genrebox{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 31.5px;
    width: 75px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
    margin-right: 135px;
}
.daybox{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 23px;
    width: 35px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
}
.yearbox{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 23px;
    width: 75px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
}
.dobin_wrapper{
    margin-right: 12%;
    margin-bottom: 1%;
}
.country_text{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 153px;
    
}
.countrybox{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 31.5px;
    width: 75px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
    margin-right: 133px;
}
.text_name{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 30px;
    margin-right: 60px;
}
.text_surname{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 70px;
    margin-left: 0px;
}
.box_name{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 23px;
    width: 90px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
    margin-right: 5px;
    
}
.box_surname{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 23px;
    width: 90px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
    margin-left: px;
    margin-right: 4px;
}
.text_banknumber{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 52px;
}
.text_bank{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    margin-bottom: 15px;
    margin-right: 170px;
}
.bankbox{
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    background-color: rgba(35, 32, 32, 1);
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    height: 31.5px;
    width: 75px;
    margin-bottom: 10px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
    margin-top: 3px;
    margin-right: 133px;
}
.genderchoose{
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}
 /* Customize the label (the container) */
 .radiocontainer {

    display: inline;
    position: relative;
    padding-left: 26px;
    margin-top: 3.5%;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Typo Round Regular Demo';
    font-weight: lighter;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 4%;
  }
  
  /* Hide the browser's default radio button */
  .radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 50%;
    left: 15%;
    height: 10px;
    width: 10px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radiocontainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radiocontainer input:checked ~ .checkmark {
    background-color: rgba(255, 115, 21, 1);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiocontainer:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radiocontainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radiocontainer .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  } 