* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

.Title-Name-Artist-Container {
    background-color: #232020;
    width: 100%;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Header-Artist,
.Creator-Select-Artist {
    background-color: #232020;
}

.Welcome-Image-Artist img {
    width: 2000px;
    height: 900px;
    object-fit: cover;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-20deg) saturate(500%) contrast(0.8);
}

.Login-Button-Artist,
.Register-Button-Artist {
    color: black;
    border-radius: 36px;
    padding: 7px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.Register-Button-Artist {
    background-color: #FF7315;
    border-radius: 36px;
    padding: 7px;
    width: 120px;
    border: none;
}

.Login-Button-Artist {
    color: white;
}

.Login-Button-Artist,
.Artist-Button-Artist {
    background-color: #5C636E;
}

.Artist-Button-Artist {
    margin: 10px;
    color: white;
    border-radius: 36px;
    padding: 7px;
    width: 120px;
    border: none;
}

.Header-Artist header h1 {
    color: white;
}

.Creator-Text-Artist {
    color: white;
    padding-top: 10px;
    margin-bottom: -5px;
}

.Creator-Select-Artist {
    text-align: center;
}